# Node / package artifacts
node_modules
npm-debug.log
yarn-error.log
yarn.lock
.pnpm-debug.log

# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# Editors / IDE
.vscode
.idea

# OneDrive / sync metadata
~$*
*.lnk

# Archives / build artifacts
*.tgz
*.zip
.project.tar.gz
.project.tar

# Local envs
.env
.env.local

# Other
*.log
**/.git
**/.git/**

# Exclude large assets if necessary (uncomment to enable)
# assets/images/large-folder/
